{{define "header"}}
    <header>
        <div class="container">
            <a class="logo" href=""><img src="static/images/heading_logo.png" alt="logo"><b style="font-size:25px; font-family:Georgia;">
            Arikanami's </b> </a>
            <div class="right-area">
                <h6><a class="plr-20 color-white btn-fill-primary" href="#">ORDER : +62 321 321 3213</a></h6>
            </div>
            <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

            <ul class="main-menu font-mountainsre" id="main-menu">
                <li><a href="#">HOME </a></li>
                <li><a href="#">ABOUT US </a></li>
                <li><a href="#">SERVICES </a></li>
                <li><a href="#">CONTACT </a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </header>
{{end}}